<p>
  dovolujeme si Vám oznámit, že uchazeč <%= @candidate.fullname %> se omluvil z Vámi vypsaného výběrového řízení na obsazení míst justičních čekatelů.
</p>
<p>
  Odůvodnění omluvy je následující: <br />
  <%= @candidate_interview.apology %>
</p>
