<% content_for(:greeting) do %>
  Vážený uchazeči,<br />
<% end %>
<p>
Váš účet byl smazán, a to z následujícího důvodu:
</p>

<p>
  <%= @audit.comment %>
</p>
<p>
V případě, že se domníváte, že došlo k nedorozumnění, kontaktujte nás přes kontaktní formulář.
</p>
