<% content_for(:greeting) do %>
  Vážený uchazeči,<br />
<% end %>
<% court = EgovUtils::Organization.region_courts.detect{|ks| ks.id == @interview.region_court_id } %>
<div>
  <p>
    dovolujeme si Vám oznámit, že jste <%= @candidate_interview.state == 'successful' ? 'uspěl' : 'neuspěl' %> ve výběrovém řízení na obsazení míst justičních čekatelů v obvodu působnosti <%= court.name %>.
  </p>
  <p>Pro více informací o výběrovém řízení přejděte do <%= link_to 'aplikace', interview_url(@interview) %>.</p>
</div>
