#about_page {
  h3, .h3 {
    font-size: 2.5rem;
  }
}
#about_ucel {
  p {
    padding: 2rem;
  }
  .icons {
    margin-top: 2rem;
    font-weight: 500;
  }
  @include media-breakpoint-up(md) {
    padding: 4rem 5rem;
  }
}
#carousel_proces {
  #carouselProcesHeading {
    @include media-breakpoint-up(md) {
      margin-top: 8rem;
    }
  }
  .carousel-caption {
    color: $secondary;
  }

  .carousel-indicators .active {
    background-color: $secondary;
  }

  .carousel-control-next,
  .carousel-control-prev {
    color: $secondary;
  }

  #contentHeading {
    margin: 1rem 2rem;
    @include media-breakpoint-up(md) {
      margin: 4rem 2rem;
    }
  }

  .carousel-item {
    min-height: 8rem;
    h4 {
      color: $secondary;
      font-size: 2rem;
    }
    @include media-breakpoint-up(md) {
      min-height: 16rem;

      h4 {
        font-size: 3rem;
        margin-bottom: 3.8rem;
      }
    }
  }

  .carousel-item > ol > li {
    margin-bottom: .5rem;

    ol > li {
      font-size: .9rem;
    }
  }
}

#about_files {

  h3 {
    margin-top: 2rem;
  }

  .user-guide-container,
  .vyhlaska-container {
    padding: 4rem 2rem;

    &:hover {
      box-shadow: 1px 1px 18px 3px rgba(0, 0, 0, .21);
      z-index: 2;
    }
  }

  .user-guide-container {
    background-color: #7794ae;
  }
  .vyhlaska-container {
    background-color: #d4d4d4;
  }

  p {
    margin: 4rem 2rem;
  }
}
