#login_page {
  height: 100%;

  &> div {
    padding: $content-padding-y 3rem;
    min-height: 100%;
  }

  .welcome-box {
    @include media-breakpoint-up(sm) {
      padding-left: 6rem;
      padding-right: 6rem;
      p {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }
    @include media-breakpoint-up(lg) {
      padding-left: 10rem;
      padding-right: 10rem;
      p {
        margin-top: 5rem;
        margin-bottom: 5rem;
      }
    }
  }

  .tab-content {
    margin-top: 1rem;
  }
}
