footer {

  // border-top: solid 1px $gray-400;
  padding: $footer-padding-y $footer-padding-x;
  font-size: 90%;
  background-color: $secondary;
  height: $footer-height;

  position: absolute;
  bottom: 0;
  width: 100%;

  .subtitle {
    //border: solid 1px $gray-light;
    //border-radius: 5px;
    color: $gray-100;
    text-align: justify;
    margin-bottom: 1rem;
    margin-top: .5rem;
  }
  .contacts {
    text-align: center;
  }
  .social-network-links {
    a {
      display: inline-block;
      padding: 0.5rem;
      color: #000;
    }
  }
  .notice, .copyright {
    color: white;
    font-size: 80%;
  }
  @include media-breakpoint-up(md) {
    .copyright {
      text-align: right;
    }
  }
}
